@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/*estilos generales*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;

}

html,
body {
  @apply bg-white dark:bg-[#09090B];
}

/*sombra en botones*/
.shadow-glow:hover {
  --tw-shadow: 0px 1px 20px rgba(94, 176, 239, .3);
  --tw-shadow-colored: 0px 1px 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* efecto en texto */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 6s ease-in-out infinite;
}